
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('https://onetouchmedia.vn/wp-content/uploads/2019/10/N.NT-65-1024x683.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 " style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Quên mật khẩu</strong> </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.mess == "Success")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Vui lòng kiểm tra Email!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "ErrorExist")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Tên người dùng đã tồn tại!',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}
@if (ViewBag.mess == "ErrorPassword")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Hai mật khẩu không trùng khớp',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "Error")
{

    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Email không tồn tại trong hệ thống',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'error'
            })
        </script>
    </div>
}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Quên mật khẩu</h1>

            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5">

            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Quên mật khẩu</h2>
                <form action="/PublicAuthentication/RePassword" method="post" class="p-4 border rounded">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Nhập Email</label>
                            <input type="email" id="fname" name="email" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Gửi Email" class="btn btn-block btn-primary btn-md">
                        </div>
                        <div class="col-md-6">


                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 mb-5">

            </div>
        </div>
    </div>
</section>

