
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('https://onetouchmedia.vn/wp-content/uploads/2019/10/N.NT-65-1024x683.jpg'); height: 200px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center" style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Trang chủ</a></span> <span>Liên hệ</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Liên hệ</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Thông tin liên hệ</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <p><span>Địa chỉ:</span> 168 Vo Nguyen Giap Street, Da Nang City 550000 Vietnam</p>
            </div>
            <div class="col-md-3">
                <p><span>Số điện thoại:</span> <a href="tel://1234567920">01208 52 175</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:thongnguyenthi2002@gmail.com">hotel@gmail.com</a></p>
            </div>
        </div>
        @*<div class="row block-9">
            <div class="col-md-6 pr-md-5">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ tên">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tiêu đề">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Nội dung"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Gửi liên hệ" onclick="alert('Cảm ơn bạn đã gửi liên hệ')" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-6" id="map"></div>*@
        </div>
    </div>
</section>

